* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
html {
    /* height: 100%; */
    font-size: 62.5%;
  }

.menu-bar .navbar {
    background: linear-gradient(to right, #D6D6D6, #375F92);
    font-size: 1.4rem;
} 


.intro-section {
    padding: 10rem 0 0 0;
    width: 100%;
    height: 100%;
    text-transform: capitalize;
    background: linear-gradient(to right, #D6D6D6, #375F92);
}

.display-2--intro {
    display: inline-block;
    font-weight: 700;
    font-size: 7.5rem;
    color: white;
}

.display-2--description {
    display: block;
    font-size: 2rem;
    margin-top: 1.2rem;
    text-transform: none;
}

.texto-convenios {
    text-align: center;
    color: red;
}

.heading-line::before{
    content: "";
    width: 10rem;
    height: 0.15rem;
    display: block;
    margin: 0 auto;
    background-color: #D6D6D6;
}

.heading-line::after{
    content: "";
    width: 2rem;
    padding-top: 0.5rem;
    height: 0.4rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-color: #D6D6D6;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #375F92;
    color: #fff;
    transition: all 0.3s;
}

p {
    /* font-family: 'Poppins', sans-serif; */
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #375F92;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    margin-top: 10rem;
    margin-left: 1rem;
    background: #375F92;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #375F92;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #375F92;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #375F92;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #375F92;
}