{% extends 'base.html' %}

{% block title %}
    Inicio
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/climatologia.css') }}">
<h1>Generación serie de datos</h1>

<!-- <div class="table-div">
    <table class="table">                
    <tbody>
       
        {% for table in tables %}
        
            
            <td>{{ table|safe }}</td>
        
        {% endfor %}
    </tbody> -->

<div class="containerSeleccion">
    <form method="POST">

        <!-- Escenarios de cambio climatico Si, No -->
        <div class="seleccion-cambio-clima">
            <label for="cambClima">Aplicar escenarios de cambio climático:</label>
            <select title='Seleccionar si desea aplicar escenarios de cambio climático' name="cambClima" method="GET" action="/">
                <option value="{{cambioClimatico[0]}}" selected>{{cambioClimatico[0]}}</option>
                {% for cambClima in cambioClimatico[1:] %}
                    <option value="{{cambClima}}">{{cambClima}}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Proyección temporal -->
        <div class="seleccion-proy-temp">
            <label for="proyTemp">Seleccione la proyección temporal:</label>
            <select title='Seleccionar la proyección temporal' name="proyTemp" method="GET" action="/">
                <option value="{{proyecTemporal[0]}}" selected>{{proyecTemporal[0]}}</option>
                {% for proyTemp in proyecTemporal[1:] %}
                    <option value="{{proyTemp}}">{{proyTemp}}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Proyección temporal -->
        <div class="seleccion-rcps">
            <label for="rcp">Seleccione el RCP:</label>
            <select title='Seleccionar el RCP' name="rcp" method="GET" action="/">
                <option value="{{rcps[0]}}" selected>{{rcps[0]}}</option>
                {% for rcp in rcps[1:] %}
                    <option value="{{rcp}}">{{rcp}}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Datos de precipitación -->
        <div class="seleccion-estacion">
            <label for="estacion">Seleccione estaciones con datos de precipitación:</label>
            <select title='Seleccionar las estaciones de precipitación' multiple name="estacion" method="GET" action="/">
                <option value="None" selected>Ninguna</option>
                <option value="{{estaciones[0]}}">{{estaciones[0]}}</option>
                {% for estacion in estaciones[1:] %}
                    <option value="{{estacion}}">{{estacion}}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Datos de temperatura -->
        <div class="seleccion-estacion-temp">
            <label for="estacionTemp">Seleccione estaciones con datos de temperatura:</label>
            <select title='Seleccionar las estaciones de temperatura' multiple name="estacionTemp" method="GET" action="/">
                <option value="None" selected>Ninguna</option>
                <option value="{{estacionesTemp[0]}}">{{estacionesTemp[0]}}</option>
                {% for estacionTemp in estacionesTemp[1:] %}
                    <option value="{{estacionTemp}}">{{estacionTemp}}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Calculo evapotranspiracion-->
        <div class="seleccion-calculo-evapotranspiracion">
            <label for="calcEvapot_seleccionada">Seleccione las estaciones para calcular la evapotranspiración:</label>
            <select title='Calular la evapotranspiración' multiple name="calcEvapot_seleccionada" method="GET" action="/">
                <option value="None" selected>Ninguna</option>
                <option value="{{estacionesEvapot[0]}}">{{estacionesEvapot[0]}}</option>
                {% for calcEvapot_seleccionada in estacionesEvapot[1:] %}
                    <option value="{{calcEvapot_seleccionada}}">{{calcEvapot_seleccionada}}</option>
                {% endfor %}
            </select>
        </div>


        <!-- Archivo Tetis -->
        <div class="seleccion-archivo-tetis">
            <label for="archivoTetis_sel">Seleccione el formato de las series:</label>
            <select title='Seleccionar tipo de archivo de Tetis' name="archivoTetis_sel" method="GET" action="/">
                <option value="{{archivoTetis[0]}}" selected>{{archivoTetis[0]}}</option>
                {% for archivoTetis_sel in archivoTetis[1:] %}
                    <option value="{{archivoTetis_sel}}">{{archivoTetis_sel}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">Generar Archivo</button>
        </div>
    </form>
</div>





{% endblock %}

